.container {
  display: flex;
  margin: 100px;
  height: 100px;
  column-gap: 10px;
  outline: 3px solid red;
  position: relative;
  height: 200vh;
}

.container div {
  flex: 1;
  /* height: 100%; */
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: yellowgreen;
}

.static {
  position: static;
}

.relative {
  position: relative;
  right: 10px;
  bottom: 10px;
}

.absolute {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 10px;
  left: 10px;
}

.fixed {
  position: fixed;
  height: 15px;
  width: auto;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  color: white;
  background-color: rgb(103, 136, 165);
  font-size: 10px;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.fixed:hover {
  cursor: pointer;
  background-color: rgb(94, 146, 191);
}

.sticky {
  position: sticky;
  top: 0;
}

.h-100 {
  height: 100px !important;
}
