body {
  margin: 0;
  font-size: 16px;
}

.container {
  width: 50vw;
  margin: auto;
  min-height: 70vh;
  background-color: rgb(158, 132, 224);
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

.form span {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
}

.form input {
  border: none;
  outline: none;
  padding: 0.5rem;
}

.form button {
  border: none;
  outline: none;
  padding: 0.5rem;
}

.expenses {
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  row-gap: 0.3rem;
}

.expense {
  display: flex;
  justify-content: space-between;
  width: calc(100%);
  padding: 0.2rem 0;
  border-bottom: 1px dotted black;
}

.total-wrapper {
  display: flex;
  justify-content: end;
  padding: 0 0.5rem;
}

.actions {
}
