:root {
  --second-item-bg-color: rgb(47, 37, 23);
}

* {
  margin: 0;
}

.flex-item {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  width: 100px;

  padding: 1.5rem;
  background-color: antiquewhite;
  text-align: center;
}

.second {
  flex-grow: 3 !important;
  box-shadow: 5px 5px 3px 1px gray;

  position: relative;
  top: 20px;
  left: 20px;

  background-color: var(--second-item-bg-color, red) !important;

  /* z-index: -1; */
}
