.flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  flex-wrap: wrap;
}

.flex-1 {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 200px;
}

.flex-2 {
  flex-grow: 2;
  flex-shrink: 2;
  flex-basis: 300px;
}

.flex-item {
  background-color: steelblue;
  padding: 10px;
}
