body {
  margin: 0;
  font-size: 16px;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: aqua;
}

.top-nav {
  height: 5vh;
  background-color: rgb(52, 95, 130);
  display: flex;
  justify-content: center;
}

.top-nav-inner {
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
}

.contact {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.socials {
  display: flex;
  column-gap: 5px;
  align-items: center;
}

.socials > div {
  display: flex;
  align-items: center;
}

.socials > div:hover {
  cursor: pointer;
  color: antiquewhite;
}

.subheading {
  font-size: 0.75rem;
}

.phone {
  display: flex;
  column-gap: 5px;
}

.email {
  display: flex;
  column-gap: 5px;
}

p {
  margin: 0;
}

.main {
  flex: auto;
}

.main {
  display: flex;
  flex-direction: column;
}

.nav {
  height: 7vh;
  background-color: white;
  display: flex;
  justify-content: center;
}

.nav-inner {
  width: 60%;
  display: flex;
  column-gap: 3rem;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.manu-items {
  display: flex;
  column-gap: 10px;
  font-size: 0.5rem;
  align-items: center;
}

.manu-items > span {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.manu-items > span:hover {
  cursor: pointer;
}

.selected-tab {
  color: green;
  border-bottom: 1px solid green;
}

.content {
  display: flex;
  flex-direction: column;
}

.bg-image {
  background-image: url("./BG.jpg");
  background-size: cover;
  background-position: center;
  height: 70vh;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

.bg-image h1 {
  color: white;
  margin: 0;
}

.bg-image button {
  background-color: green;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  border-radius: 10%;
}

.cards {
  position: relative;
  bottom: -100px;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  padding: 10px;
  background-color: green;
  justify-content: center;
  color: white;
}

.cards-inner {
  width: 60%;
  display: flex;
  column-gap: 1rem;
  justify-content: space-between;
}

.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.icon-1 {
  position: absolute;
  top: -11px;
}

.icon-2 {
  position: absolute;
  bottom: -16px;
}
