.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  gap: 10px;
}

.image {
  height: 100%;
  width: auto;
  object-fit: contain;
  display: flex;
  justify-content: center;
}
