body {
  margin: 0;
  background-color: rgb(170, 208, 255);
}

.root {
  display: grid;
  grid-template-columns: 10vw 1fr;
  grid-template-rows: 10vh 1fr 5vh;
  grid-template-areas: "header header" "sidebar main" "footer footer";
  height: 100vh;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.left {
  flex-grow: 4;
  display: flex;
}

.right {
  flex-grow: 1;
  display: flex;
  column-gap: 5px;
  justify-content: flex-end;
  padding-right: 15px;
}

.icon:hover {
  cursor: pointer;
  color: aquamarine;
}

.logo {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.logo > img {
  height: 25px;
  width: auto;
  padding: 5px;
}

.menu {
  flex-grow: 11;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.menu-item {
  font-size: 12px;
}

.menu-item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid black;
}

.sidebar > span {
  background-color: rgb(150, 185, 227);
  width: 100%;
  padding: 5px;
  font-size: 12px;
  /* border-radius: 10%; */
}

.sidebar > span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.main {
  grid-area: main;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  grid-area: footer;
  border-top: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 10px;
}
