html {
    font-size: 16px;
}

#seconddiv {
  margin-top: 10px;
  border: 1px solid black;
  padding: 1rem;
}

.dotted-border {
  border: 1px dashed black;
  padding: 1rem;
  background-color: #5c5151;
}

.p-15 {
  padding: 1rem;
}

.margin-top {
  margin-top: 0.5rem;
}

.gray-para > p {
  color: gray;
}

.first-name {
    font-size: 20px;
    font-weight: bold;
}