body {
  margin: 0;
}

p,
h4,
h3 {
  margin: 0;
}

.container {
  width: 60vw;
  margin: 10px auto;
}

.inputs-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.input {
  border: 2px dotted green;
}

.inputs-wrapper input {
  width: calc(100%-20px);
  padding: 5px 10px;
}

.notes-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  gap: 30px;
}

.note {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100px;
  background-color: antiquewhite;
  padding: 10px;
}
